In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
Path = 'drive/My Drive/DATASETS'

In [3]:
import pandas as pd
df = pd.read_csv (Path+'/CrimesOnWomenData.csv')
df.head()

   Unnamed: 0              State  Year  Rape   K&A   DD   AoW   AoM    DV  WT
0           0     ANDHRA PRADESH  2001   871   765  420  3544  2271  5791   7
1           1  ARUNACHAL PRADESH  2001    33    55    0    78     3    11   0
2           2              ASSAM  2001   817  1070   59   850     4  1248   0
3           3              BIHAR  2001   888   518  859   562    21  1558  83
4           4       CHHATTISGARH  2001   959   171   70  1763   161   840   0

In [4]:
print("First 5 rows of the dataset:")
print (df.head())

First 5 rows of the dataset:
   Unnamed: 0              State  Year  Rape   K&A   DD   AoW   AoM    DV  WT
0           0     ANDHRA PRADESH  2001   871   765  420  3544  2271  5791   7
1           1  ARUNACHAL PRADESH  2001    33    55    0    78     3    11   0
2           2              ASSAM  2001   817  1070   59   850     4  1248   0
3           3              BIHAR  2001   888   518  859   562    21  1558  83
4           4       CHHATTISGARH  2001   959   171   70  1763   161   840   0

In [5]:
print("/nBasic information about the dataset:")
print(df.info())

/nBasic information about the dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 736 entries, 0 to 735
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  736 non-null    int64
 1   State       736 non-null    object
 2   Year        736 non-null    int64
 3   Rape        736 non-null    int64
 4   K&A         736 non-null    int64
 5   DD          736 non-null    int64
 6   AoW         736 non-null    int64
 7   AoM         736 non-null    int64
 8   DV          736 non-null    int64
 9   WT          736 non-null    int64
dtypes: int64(9), object(1)
memory usage: 57.6+ KB
None

In [6]:
print("/nSummary statistics for numerical columns:")
print(df.describe())

/nSummary statistics for numerical columns:
       Unnamed: 0         Year         Rape           K&A           DD  \
count  736.000000   736.000000   736.000000    736.000000   736.000000
mean   367.500000  2011.149457   727.855978   1134.542120   215.692935
std    212.609188     6.053453   977.024945   1993.536828   424.927334
min      0.000000  2001.000000     0.000000      0.000000     0.000000
25%    183.750000  2006.000000    35.000000     24.750000     1.000000
50%    367.500000  2011.000000   348.500000    290.000000    29.000000
75%    551.250000  2016.000000  1069.000000   1216.000000   259.000000
max    735.000000  2021.000000  6337.000000  15381.000000  2524.000000

                AoW          AoM            DV          WT
count    736.000000   736.000000    736.000000  736.000000
mean    1579.115489   332.722826   2595.078804   28.744565
std     2463.962518   806.024551   4042.004953   79.999660
min        0.000000     0.000000      0.000000    0.000000
25%       34.000000     3.000000     13.000000    0.000000
50%      387.500000    31.000000    678.500000    0.000000
75%     2122.250000   277.500000   3545.000000   15.000000
max    14853.000000  9422.000000  23278.000000  549.000000

In [7]:
print("/nMissing values in the dataset:")
print(df.isnull())

/nMissing values in the dataset:
     Unnamed: 0  State   Year   Rape    K&A     DD    AoW    AoM     DV     WT
0         False  False  False  False  False  False  False  False  False  False
1         False  False  False  False  False  False  False  False  False  False
2         False  False  False  False  False  False  False  False  False  False
3         False  False  False  False  False  False  False  False  False  False
4         False  False  False  False  False  False  False  False  False  False
..          ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
731       False  False  False  False  False  False  False  False  False  False
732       False  False  False  False  False  False  False  False  False  False
733       False  False  False  False  False  False  False  False  False  False
734       False  False  False  False  False  False  False  False  False  False
735       False  False  False  False  False  False  False  False  False  False

[736 rows x 10 columns]