In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
Path = 'drive/My Drive/DATASETS'

In [5]:
import pandas as pd
df = pd.read_csv (Path+'/healthcare_noshows.csv')
df.head()

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,Showed_up,Date.diff
0,2.987250e+13,5642903,F,2016-04-29,2016-04-29,62,JARDIM DA PENHA,False,True,False,False,False,False,True,0
1,5.589978e+14,5642503,M,2016-04-29,2016-04-29,56,JARDIM DA PENHA,False,False,False,False,False,False,True,0
2,4.262962e+12,5642549,F,2016-04-29,2016-04-29,62,MATA DA PRAIA,False,False,False,False,False,False,True,0
3,8.679512e+11,5642828,F,2016-04-29,2016-04-29,8,PONTAL DE CAMBURI,False,False,False,False,False,False,True,0
4,8.841186e+12,5642494,F,2016-04-29,2016-04-29,56,JARDIM DA PENHA,False,True,True,False,False,False,True,0

In [6]:
print("First 5 rows of the dataset:")
print (df.head())

First 5 rows of the dataset:
      PatientId  AppointmentID Gender ScheduledDay AppointmentDay  Age  \
0  2.987250e+13        5642903      F   2016-04-29     2016-04-29   62
1  5.589978e+14        5642503      M   2016-04-29     2016-04-29   56
2  4.262962e+12        5642549      F   2016-04-29     2016-04-29   62
3  8.679512e+11        5642828      F   2016-04-29     2016-04-29    8
4  8.841186e+12        5642494      F   2016-04-29     2016-04-29   56

       Neighbourhood  Scholarship  Hipertension  Diabetes  Alcoholism  \
0    JARDIM DA PENHA        False          True     False       False
1    JARDIM DA PENHA        False         False     False       False
2      MATA DA PRAIA        False         False     False       False
3  PONTAL DE CAMBURI        False         False     False       False
4    JARDIM DA PENHA        False          True      True       False

   Handcap  SMS_received  Showed_up  Date.diff
0    False         False       True          0
1    False         False       True          0
2    False         False       True          0
3    False         False       True          0
4    False         False       True          0

In [7]:
print("/nBasic information about the dataset:")
print(df.info())

/nBasic information about the dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106987 entries, 0 to 106986
Data columns (total 15 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   PatientId       106987 non-null  float64
 1   AppointmentID   106987 non-null  int64
 2   Gender          106987 non-null  object
 3   ScheduledDay    106987 non-null  object
 4   AppointmentDay  106987 non-null  object
 5   Age             106987 non-null  int64
 6   Neighbourhood   106987 non-null  object
 7   Scholarship     106987 non-null  bool
 8   Hipertension    106987 non-null  bool
 9   Diabetes        106987 non-null  bool
 10  Alcoholism      106987 non-null  bool
 11  Handcap         106987 non-null  bool
 12  SMS_received    106987 non-null  bool
 13  Showed_up       106987 non-null  bool
 14  Date.diff       106987 non-null  int64
dtypes: bool(7), float64(1), int64(3), object(4)
memory usage: 7.2+ MB
None

In [8]:
print("/nSummary statistics for numerical columns:")
print(df.describe())

/nSummary statistics for numerical columns:
          PatientId  AppointmentID            Age      Date.diff
count  1.069870e+05   1.069870e+05  106987.000000  106987.000000
mean   1.472814e+14   5.675434e+06      38.316085      10.166721
std    2.558267e+14   7.133274e+04      22.466214      15.263508
min    3.921784e+04   5.030230e+06       1.000000      -6.000000
25%    4.173523e+12   5.640490e+06      19.000000       0.000000
50%    3.172463e+13   5.680744e+06      38.000000       4.000000
75%    9.433600e+13   5.725634e+06      56.000000      14.000000
max    9.999816e+14   5.790484e+06     115.000000     179.000000

In [9]:
print("/nMissing values in the dataset:")
print(df.isnull())

/nMissing values in the dataset:
        PatientId  AppointmentID  Gender  ScheduledDay  AppointmentDay    Age  \
0           False          False   False         False           False  False
1           False          False   False         False           False  False
2           False          False   False         False           False  False
3           False          False   False         False           False  False
4           False          False   False         False           False  False
...           ...            ...     ...           ...             ...    ...
106982      False          False   False         False           False  False
106983      False          False   False         False           False  False
106984      False          False   False         False           False  False
106985      False          False   False         False           False  False
106986      False          False   False         False           False  False

        Neighbourhood  Scholarship  Hipertension  Diabetes  Alcoholism  \
0               False        False         False     False       False
1               False        False         False     False       False
2               False        False         False     False       False
3               False        False         False     False       False
4               False        False         False     False       False
...               ...          ...           ...       ...         ...
106982          False        False         False     False       False
106983          False        False         False     False       False
106984          False        False         False     False       False
106985          False        False         False     False       False
106986          False        False         False     False       False

        Handcap  SMS_received  Showed_up  Date.diff
0         False         False      False      False
1         False         False      False      False
2         False         False      False      False
3         False         False      False      False
4         False         False      False      False
...         ...           ...        ...        ...
106982    False         False      False      False
106983    False         False      False      False
106984    False         False      False      False
106985    False         False      False      False
106986    False         False      False      False

[106987 rows x 15 columns]